<!-- destination.component.html -->
<div class="container">
    <h1 class="title">Book Your Trip</h1>
  
    <form class="trip-form">
      <div class="form-row">
        <div class="form-group">
          <label for="from">From:</label>
          <div class="input-wrapper">
            <input id="from" type="text" class="form-control" [(ngModel)]="from" name="from" placeholder="Enter departure location" required />
          </div>
        </div>
  
        <div class="form-group">
          <label for="to">To:</label>
          <div class="input-wrapper">
            <input id="to" type="text" class="form-control" [(ngModel)]="to" name="to" placeholder="Enter destination" required />
          </div>
        </div>
  
        <div class="form-group">
          <label for="tripDuration">Trip Duration:</label>
          <div class="input-wrapper">
            <select id="tripDuration" class="form-control" [(ngModel)]="tripDuration" name="tripDuration" required>
              <option value="" disabled selected>Select duration</option>
              <option *ngFor="let duration of durations" [value]="duration">{{ duration }}</option>
            </select>
          </div>
        </div>
      </div>
  
      <div class="form-row">
        <div class="form-group">
          <label for="departureDate">Departure Date:</label>
          <div class="input-wrapper">
            <input id="departureDate" type="date" class="form-control" [(ngModel)]="departureDate" name="departureDate" required [min]="todayDate()"/>
          </div>
        </div>
  
        <div class="form-group">
          <label for="returnDate">Return Date:</label>
          <div class="input-wrapper">
            <input id="returnDate" type="date" class="form-control" [(ngModel)]="returnDate" name="returnDate" required [min]="todayDate()"/>
          </div>
        </div>
      </div>
  
      <button type="submit" class="btn btn-submit" (click)="submitForm()">Submit</button>
    </form>
  </div>
  