<!--nav-bar.component.html-->
<nav class="navbar navbar-expand-sm p-3 fixed-top">
    <div class="container-fluid">
        
        <button (click)="toggleSidebar()">Dropdown</button>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item ps-5">
                    <a class="nav-link" href="#">HOME</a>
                </li>
                <li class="nav-item ps-5">
                    <a class="nav-link" href="#">DESTINATION</a>
                </li>
                <li class="nav-item ps-5">
                    <a class="nav-link" href="#">BOOKINGS</a>
                </li>
                <li class="nav-item ps-5">
                    <a class="nav-link" href="#">TOUR</a>
                </li>
                <li class="nav-item ps-5">
                    <a class="nav-link" href="#">BLOG</a>
                </li>
            </ul>
            <form class="d-flex ms-auto nav-item search-form">
                <div class="search-wrapper">
                    <input class="form-control me-2 p-1 ps-2" type="text" placeholder="Search">
                    <button type="submit" class="search-button">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </form>

            
            
    <div class="user-profile">
        <img src="/assets/ic_profile.png" alt="User Profile" (click)="openAdminPanelDialog()">
      
    </div>
            
        </div>
    </div>
</nav>
