<!-- side-bar.component.html-->
<nav class="navbar">
    <!-- An unordered list to hold the navigation menu items -->
    <ul class="navbar__menu">
      
      <!-- List item for the Home link -->
      <li class="navbar__item">
        <!-- Anchor tag for the Home link, using a Feather icon for visual representation -->
        <a href="#" class="navbar__link"><i data-feather="home"></i><span>Home</span></a>
      </li>

      <!-- List item for the Messages link -->
      <li class="navbar__item">
        <!-- Anchor tag for the Messages link, using a Feather icon -->
        <a href="#" class="navbar__link"><i data-feather="message-square"></i><span>Messages</span></a>        
      </li>

      <!-- List item for the Customers link -->
      <li class="navbar__item">
        <!-- Anchor tag for the Customers link, using a Feather icon -->
        <a href="#" class="navbar__link"><i data-feather="users"></i><span>Customers</span></a>        
      </li>

      <!-- List item for the Projects link -->
      <li class="navbar__item">
        <!-- Anchor tag for the Projects link, using a Feather icon -->
        <a href="#" class="navbar__link"><i data-feather="folder"></i><span>Projects</span></a>        
      </li>

      <!-- List item for the Resources link -->
      <li class="navbar__item">
        <!-- Anchor tag for the Resources link, using a Feather icon -->
        <a href="#" class="navbar__link"><i data-feather="archive"></i><span>Resources</span></a>        
      </li>

      <!-- List item for the Help link -->
      <li class="navbar__item">
        <!-- Anchor tag for the Help link, using a Feather icon -->
        <a href="#" class="navbar__link"><i data-feather="help-circle"></i><span>Help</span></a>        
      </li>

      <!-- List item for the Settings link -->
      <li class="navbar__item">
        <!-- Anchor tag for the Settings link, using a Feather icon -->
        <a href="#" class="navbar__link"><i data-feather="settings"></i><span>Settings</span></a>        
      </li>

    </ul> <!-- End of the navigation menu -->
</nav> <!-- End of the navigation bar -->
